
.nomeCalculadora {
  display: flex;
  justify-content: center;
}
.card {
margin: 40px;
display: flex;
justify-content: center;

}
input {
  margin-right: 2vw;
  margin-left: 0.2vw;
}
button {
  display: flex;
  align-items: center;
  text-align: center;
}
